* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

nav {
   background-color: #333;
   height: 250px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 10px;
   align-items: center;
}

nav a {
   color: white;
   text-decoration: none;
   background-color: transparent;
   width: 80%;
   height: 50px;
   text-align: center;
   line-height: 50px;
   border: 1px solid #a0a0a0;
   border-radius: 5px;
}
nav a:hover {
   background-color: #5c5c5c;
   scale: 1.02;
   transition: all 0.3s;
}
@media (min-width: 768px) {
   nav {
      height: 75px;
      flex-direction: row;
      justify-content: space-evenly;
   }
   nav a {
      width: 100px;
   }
}
